body {
    margin: 0;
    padding: 0;
}

.detailProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    gap: 20px;
}

.title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0;
}

.subtitle {
    font-size: 25px;
    font-weight: 500;
}

.containerInformation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 50px;
    border-radius: 5px;
}

.titleInformation {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: var(--div--container--secondary);
}

.subtitleInformation {
    color: var(--text);
    opacity: 0.8;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

.containerImage {
    display: flex;
    width: 100%;
    height: 500px;
    aspect-ratio: 10/6;
    margin: 0 auto;
}

.containerFeatures {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.titleFeatures {
    font-size: 35px;
    font-weight: 500;
    color: var(--div--container--secondary);
}

.subtitleFeatures {
    font-size: 25px;
    font-weight: 400;
    margin: 5px;
    gap: 10px;
    text-align: justify;
    justify-content: center;
    color: var(--text);
    opacity: 0.8;
}

.titlePage {
    font-size: 28px;
    font-weight: 500;
    color: var(--div--container--secondary);
}

.titlePage:hover {
    color: var(--text);
}

@media screen and (max-width:980px) {
    .containerInformation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0;
    }

    .information {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }

    .titleInformation {
        font-size: 18px;
        font-weight: 600;
        color: var(--div--container--secondary);
    }

    .subtitleInformation {
        color: var(--text);
        opacity: 0.8;
        font-size: 20px;
        font-weight: 400;
        margin: 5px;
    }

    .titlePage {
        font-size: 25px;
        font-weight: 500;
        color: var(--div--container--secondary);
    }
}

@media screen and (max-width: 450px) {
    .containerInformation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0;
    }

    .information {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }

    .titleInformation {
        font-size: 18px;
        font-weight: 500;
        color: var(--div--container--secondary);
    }

    .subtitleInformation {
        color: var(--text);
        opacity: 0.8;
        font-size: 18px;
        font-weight: 300;
        margin: 5px;
    }

    .titleFeatures {
        font-size: 30px;
        font-weight: 400;
        color: var(--div--container--secondary);
    }

    .subtitleFeatures {
        font-size: 20px;
        font-weight: 400;
        margin: 5px;
        gap: 10px;
        text-align: justify;
        justify-content: center;
        color: var(--text);
        opacity: 0.8;
    }

    .titlePage {
        font-size: 19px;
        font-weight: 500;
        color: var(--div--container--secondary);
    }
}