:root {
    --background: #2a314d;
    --container--background: #313c58;
    --text: #fff;
    --linked-text: #d9727f;
    --div--container: #ee4540;
    --div--container--secondary: #fcbb6d;
    --border--width--dark: #142030;
}